@import "resets.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* Main */

#wrapper {
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#banner {
  width: 298px;
  height: 598px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .4);
  position: relative;
}
/* Frames */
#text11, #text12, #text2, #text3, #text4, #text5, #bg, #one, #woman, #woman1, #blue, #click-area {
    position: absolute;
    opacity: 0;    
}
.blue {
    color: #485969;
}
.blue2 {
    color: #bac6d0;
}
.arrow-right {
    position: relative;
    margin-left: 5px;
    margin-right: 7px;
}
.arrow-right::before {
    content: '';
    top: 2.8px;
    width: 0;
    height: 0;
    border-top: 5.5px solid transparent;
    border-bottom: 5.5px solid transparent;
    border-left: 9px solid #fff;
    position: absolute;
}
#blue{
    width: 300px;
    height: 600px;
    top: 0;
    left: 0;
    opacity: 1;
}
#text11{
    top: 212px;
    left: 79px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
#text12{
    top: 284px;
    left: 69px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}
#text2 {
    position: absolute;
    top: 63px;
    left: 38px;
    opacity: 0;
    /* z-index: 5; */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
#text2 span {
    font-weight: 700;
}
#woman {
    position: absolute;
    background: url("../img/women.png") center center no-repeat;
    width: 305px;
    height: 381px;
    bottom: 0;
    left: -5px;
    /* z-index: 5; */
    opacity: 0;
}
#one {
    position: absolute;
    background: url("../img/one.png") center center no-repeat;
    width: 298px;
    height: 493px;
    top: 272px;
    left: 0px;
    opacity: 0;
    /* z-index: 4; */
}

#text3 {
    position: absolute;
    top: 72px;
    left: 18px;
    opacity: 0;
    /* z-index: 6; */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
#text3 span {
    font-weight: 700;
}
#text4{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 232px;
    left: 35px;
    opacity: 0;
    /* z-index: 8; */
    font-size: 9px;
}


#logo{
  position: absolute;
  background: url("../img/logo.svg") center center no-repeat;
  width: 246px;
  height: 65px;
  top: 3px;
  left: 27px;
  opacity: 0;
  /* z-index: 8; */
}


#logo-block{
    /* height: 206px; */
    width: 298px;
    position: absolute;
    top: 598px;
    /* z-index: 7; */
    opacity: 1;
}
.left-block{
    width: 100%;
    position: relative;
    float: left;
    height: 45px;
    background-color: #f04f24;
}
.left-block p {
    line-height: 45px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.7px;
    font-weight: 700;
}
#scroll{
    position: absolute;
    top: 643px;
    width: 298px;
    height: 56px;
    background: #FFFFFF;
    color: #485969;
    font-size: 7px;
    border-top: 1px solid #485969;
    /* z-index: 7; */
    opacity: 1;
}

a{
    color: #485969;
}
/* Click tag */
#click-area{
    width: 298px;
    height: 598px;
}
#scroll-title{
    height: 8px;
    margin: 0px 6px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: 600;
}
#scroll-wrapper{
    overflow-y: scroll;
    width: 290px;
    height: 36px;
    margin: 0 2px;
}
#scroll-content{
    display: block;
    margin: 0 4px 4px;
}
#scroll-content p{
    line-height: 10px;
    /* padding-bottom: 0.4rem; */
}
.frame::-webkit-scrollbar {
    -webkit-appearance: none;
    background: #e1e1e1;
    border-radius: 8px;
    /* border: 2px solid white; */
}

.frame::-webkit-scrollbar:vertical {
    width: 8px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 8px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 2px solid white;  */
    background-color: #b1b1b1;
    height: 20px;
}
