@import "resets.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Main */
#wrapper {
    width: 160px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#banner {
    width: 158px;
  height: 598px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .4);
  position: relative;
}

#text11, #text12, #text2, #text3, #text4, #text5, #bg, #one, #woman, #woman1, #blue, #click-area {
    position: absolute;
    opacity: 0;    
}
.blue {
    color: #485969;
}
.blue2 {
    color: #bac6d0;
}
#blue{
    position: absolute;
    background: url("../img/blue-bg.png") center center no-repeat;
    width: 158px;
    height: 598px;
    top:0;
    left: 0;
    opacity: 1;
}
#text11{
    top: 235px;
    left: 33px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
#text12{
    top: 287px;
    left: 26px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}
#text2{
    position: absolute;
    top : 60px;
    left: 13px;
    opacity: 0;
    /* z-index: 5; */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
#text2 span {
    font-weight: 700;
}

#woman{
    position: absolute;
    background: url("../img/women.png") center center no-repeat;
    width: 268px;
    height: 344px;
    bottom: 0;
    left: -81px;
    /* z-index: 13; */
    opacity: 0;
}
#one{
    position: absolute;
    background: url("../img/one.png") center center no-repeat;
    width: 158px;
    height: 493px;
    top: 298px;
    left: 0px;
    opacity: 0;
    /* z-index: 12; */
}

#text3{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    top: 54px;
    left: 0;
    opacity: 0;
    /* z-index: 6; */
}
#text3 span {
    font-weight: 700;
}
#text4{
    position: absolute;
    text-align: center;
    left: 30px;
    top: 227px;
    opacity: 0;
    /* z-index:9; */
    font-family: 'Montserrat', sans-serif;
    font-size: 7px;
    line-height: 9px;
}

#logo{
  position: absolute;
  background: url("../img/logo.svg") center center no-repeat;
  width: 157px;
  height: 42px;
  top: 4px;
  left: 0px;
  opacity: 0;
  /* z-index: 8; */
}


#logo-block{
    position: absolute;
    height: 46px;
    width: 158px;
    position: absolute;
    top: 598px;
    /* z-index: 16; */
    opacity: 1;
}
.left-block{
    width: 100%;
    position: relative;
    float: left;
    height: 45px;
    background-color: #f04f24;
}
.left-block p {
    line-height: 45px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.7px;
    font-weight: 700;
}
/* Click tag */
#click-area{
    width: 158px;
    height: 598px;
}
#scroll{
  position: absolute;
  top: 643px;
  width: 158px;
  height: 85px;
    background: #FFFFFF;
    color: #485969;
    font-size: 7px;
    border-top: 1px solid #485969;
    /* z-index: 15; */
    opacity: 1;
}

a{
    color: #485969;
}
#scroll-title{
    height: 8px;
    margin: 0px 6px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: 600;
}
#scroll-wrapper{
    overflow-y: scroll;
    width: 150px;
    height: 64px;
    margin: 0 2px;
}
#scroll-content{
    display: block;
    margin: 0 4px 4px;
}
#scroll-content p{
    line-height: 10px;
    /* padding-bottom: 0.4rem; */
}
.frame::-webkit-scrollbar {
    -webkit-appearance: none;
    background: #e1e1e1;
    border-radius: 8px;
    /* border: 2px solid white; */
}

.frame::-webkit-scrollbar:vertical {
    width: 8px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 8px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 2px solid white;  */
    background-color: #b1b1b1;
    height: 80px;
}
