@import "resets.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

/* Main */

body {
    background-color: #fff;
}
#wrapper {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
#banner {
    width: 298px;
    height: 248px;
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
}

/* Frames */

/* #bg, .sheet, #text1, #text2, #text3, #text4, #at, #breathless, #copy, #cta, #logo, #click-area {
    position: absolute;
}
#text1, #at, #breathless, #copy, #logo {
    opacity: 0;
} */

.bg {
    position: absolute;
    width: 298px;
    height: 248px;
    background-size: contain;
}

#layer {
    background-image: url('../_assets/_layer4.jpg');
    top: -1px;
    left: -1px;
}

#bg1 {
    background-image: url('../img/bg1.jpg');
}
#bg2 {
  width: 306px;
    background-image: url('../img/bg2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
#bg3 {
	opacity: 0;
    background-image: url('../img/bg3.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
#hand_pill {
  position: absolute;
  opacity: 1;
  width: 106px;
  height: 89px;
  top: 69px;
  right: -106px;
  background-image: url(../img/hand_pill.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#text1 {
    opacity: 0;
    background-image: url('../img/text1.png');
    left: -6px;
}
#text2 {
    opacity: 0;
    background-image: url('../img/text2.png');
    left: -6px;
}
#text3 {
    opacity: 0;
    background-image: url('../img/text3.png');
}
#text4 {
    opacity: 0;
    background-image: url('../img/text4.png');
}
#text5 {
    opacity: 0;
    background-image: url('../img/text5.png');
}

#uc {
    position: absolute;
    bottom: 0;
    width: 300px;
    left: -1px;
    height: 17px;
    background-image: url('../img/uc.png');
    background-size: cover;
}
#available {
    opacity: 0;
    position: absolute;
    top: 58px;
    left: 16px;
    width: 97px;
    height: 9px;
    background-image: url('../img/available.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#xeljanz {
    opacity: 0;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 123px;
    height: 54px;
    background-image: url('../img/xeljanz.svg');
}

#square1 {
    position: absolute;
    top: -280px;
    left: -420px;
    width: 900px;
    height: 900px;
    background-color: #fff;
    opacity: .83;
    border-bottom-right-radius: 100%;
}

#square2 {
    position: absolute;
    top: -420px;
    left: -140px;
    width: 900px;
    height: 900px;
    background-color: #fff;
    opacity: .83;
    border-top-left-radius: 100%;
}

#cta {
    position: absolute;
    background-image: url('../img/cta.png');
    background-repeat: no-repeat;
    background-size: contain;
    top: 102px;
    left: 11px;
    border-radius: 3px;
    width: 89px;
    height: 19px;
    transform: scale(.1);
    opacity: 0;
}

#isi {
	width: 298px;
	bottom: -118px;
	height: 118px;
	position: absolute;
	font-family: 'Open Sans',sans-serif;
	background: #fff
}
.container {
	overflow: auto;
	position: relative;
	width: 300px;
	height: auto;
	box-sizing: border-box;
	font-size: 10px;
	color: #58585a
}

#isi-top {
    width: 298px;
    height: 19px;
    background-color: #4e5454;
    background-image: url('../img/isi-top.png');
    background-size: cover;
}
#isi-bottom {
    clear: both;
    width: 298px;
    height: 25px;
    background-color: #4e5454;
    background-image: url('../img/isi-bottom.png');
      background-size: cover;
}

.all-themes .container {
	width: 298px;
	height: 74px;
	float: left
}

.container-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #e90649;
	margin: 3px 0 0 8px;
	line-height: 12px;
	font-weight: 700;
	width: 268px
}

.container-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000;
	margin: 3px 0 0 8px;
	line-height: 11px;
	width: 268px;
	letter-spacing: 0;
	font-weight: 400;
}

.list li {
	margin: 3px 0 3px 2px;
	background: url(../img/circle.png) no-repeat left 4px;
	padding: 0 0 0 6px;
	list-style-type: none;
	background-size: 3px
}

.bold {
	font-weight: 700
}

sup {
	line-height: 0;
	vertical-align: 2px;
	font-size: 8px
}

@-moz-document url-prefix() {
	.container-text {
		letter-spacing: -.3px
	}
}

.mCustomScrollbar {
	touch-action: none
}

.mCustomScrollbar.mCS_no_scrollbar,.mCustomScrollbar.mCS_touch_action {
	touch-action: auto
}

.mCustomScrollBox {
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: 0;
	direction: ltr
}

.mCSB_container {
	overflow: hidden;
	width: auto;
	height: auto
}

.mCSB_inside>.mCSB_container {
	margin-right: 10px
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-right: 0
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container {
	margin-right: 0;
	margin-left: 30px
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-left: 0
}

.mCSB_scrollTools {
	position: absolute;
	width: 22px;
	height: auto;
	left: auto;
	top: 0;
	right: 0;
	bottom: 0
}

.mCSB_outside+.mCSB_scrollTools {
	right: -26px;
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_scrollTools,.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
	right: auto;
	left: 0;
}

.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
	left: -26px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: 2px;
	bottom: 0;
	right: 0;
	height: auto;
}

.mCSB_scrollTools a+.mCSB_draggerContainer {
	margin: 10px 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
	width: 1px;
	height: 75px;
	margin: 0 auto;
}

.mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
	height: 2px;
	left: 0;
	z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	position: relative;
	width: 4px;
	height: 100%;
	margin: 0 auto;
	text-align: center
}

.mCSB_scrollTools,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight,.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	transition: opacity .2s ease-in-out,background-color .2s ease-in-out
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar {
	transition: width .2s ease-out .2s,height .2s ease-out .2s,margin-left .2s ease-out .2s,margin-right .2s ease-out .2s,margin-top .2s ease-out .2s,margin-bottom .2s ease-out .2s,opacity .2s ease-in-out,background-color .2s ease-in-out
}

.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
	width: 2px;
	height: 56px;
	background: #9da2a0;
	background-repeat: no-repeat
}

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 10px;
	height: 5px;
	background: url(../img/scroll.svg);
	background-repeat: no-repeat;
	background-size: 10px
}
#here, #medication_isi, #medwatch, #prescribing_isi {
	color: #e90649;
	text-decoration: underline;
	cursor: pointer
}
#logo_pfizer {
	cursor: pointer
}
#isi-bottom {
	position: relative;
}
#prescribing {
    position: absolute;
    height: 10px;
    width: 104px;
    top: 3px;
    left: 85px;
}
#medication {
    position: absolute;
    height: 10px;
    width: 72px;
    top: 13px;
    left: 152px;
}
#screen {
    position: absolute;
    top: 16px;
    left: 160px;
    height: 194px;
    width: 80px;
    background: rgba(255, 0, 0, .3);
    transform: rotate(-20deg);
}
