@import "resets.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
/* Main */

body {
    background-color: #fff;
}
#wrapper {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#banner {
    width: 298px;
    height: 248px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .4);
    position: relative;
}
/* Frames */
#text11, #text12, #text2, #text3, #text4, #text5, #bg, #one, #woman, #woman1, #blue, #click-area{
    position: absolute;
    display: block;
    opacity: 0;
}
.blue {
    color: #485969;
}
.blue2 {
    color: #bac6d0;
}
.arrow-right {
    position: relative;
    margin-left: 5px;
    margin-right: 7px;
}
.arrow-right::before {
    content: '';
    top: 1.5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #fff;
    position: absolute;
}
#blue{
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
    opacity: 1;
}
#bg{
    width: 298px;
    height: 248px;
    top: 0;
    left: 0;
}
#text11{
    top: 103px;
    left: 19px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#text12{
    top: 127px;
    left: 82px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}
#text2{
    top: 62px;
    right: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 23px;
}
#text2 span {
    font-weight: 700;
}
#text3{
    top: 19px;
    left: 142px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 23px;
}
#text3 span {
    font-weight: 700;
}
#text4{
    top: 147px;
    left: 142px;
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
}
#one{
    background: url("../img/one.png") center center no-repeat;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
}
#woman{
    background: url("../img/woman.png") center center no-repeat;
    width: 257px;
    height: 310px;
    top: 0px;
    left: 0px;
}
#logo-block{
    height: 37px;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    display: block;
    top: 250px;
}
.left-block{
    width: 61%;
    position: relative;
    float: left;
}
.right-block{
    width: 39%;
    position: relative;
    float: left;
    height: 37px;
    background-color: #f04f24;
}
.right-block p {
    line-height: 37px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10.2px;
    font-weight: 700;

}
.logo{
    max-width: 77%;
    margin: 6px 14px;
    vertical-align: middle;
}
.img-fluid{
    width: 100%;
    height: auto;
}
/* Click tag */
#click-area{
    width: 298px;
    height: 248px;
}
/* ISI */
#scroll{
    position: absolute;
    top: 287px;
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    color: #485969;
    font-size: 7px;
    border-top: 1px solid #485969;
}
a{
    color: #485969;
}
#scroll-title{
    height: 8px;
    margin: 0px 6px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: 600;
}
#scroll-wrapper{
    overflow-y: scroll;
    width: 294px;
    height: 30px;
    margin: 0 2px;
}
#scroll-content{
    display: block;
    margin: 0 4px 4px;
}
#scroll-content p{
    line-height: 10px;
    /* padding-bottom: 0.4rem; */
}
.frame::-webkit-scrollbar {
    -webkit-appearance: none;
    background: #e1e1e1;
    border-radius: 8px;
    /* border: 2px solid white; */
}

.frame::-webkit-scrollbar:vertical {
    width: 8px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 8px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 2px solid white;  */
    background-color: #b1b1b1;
    height: 20px;
}
