@import "resets.css";
/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900'); */

/* Main */
#wrapper {
    /* width: 670px;
    height: 578px; */
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-family: Arial;
}
#banner {
    position: relative;
    border: 1px solid #000;
    /* width: 670px;
    height: 578px; */
    width: 298px;
    height: 248px;
    overflow: hidden;
    background-image: url('../img/bg.jpeg');
}
/* Frames */

canvas, #text1, #text2, #text3, #text4, #text5, #cta, #pfizer, #click-area {
    position: absolute;
}
#bg-canvas, #text1, #text2, #text3, #text4, #text5, #cta, #pfizer {
    opacity: 0;
}
canvas {
    top: -39px;
    left: -119px;
    transform: scale(0.83);
}
#text1 {
    top: 113px;
    right: 11px;
    font-size: 26px;
    text-align: right;
    line-height: 30px;
}
#text2 {
    top: 113px;
    right: 11px;
    font-size: 26px;
    text-align: right;
    line-height: 30px;
}
#text3 {
    top: 18px;
    right: 12px;
    font-size: 18.5px;
    text-align: right;
    line-height: 20px;
}
#text4 {
    top: 157px;
    right: 11px;
    font-size: 10.5px;
    text-align: right;
    line-height: 20px;
    font-weight: 700;
}
#text5 {
    top: 223px;
    right: 48px;
    font-size: 8px;
    font-weight: 700;
}
#pfizer {
    top: 217px;
    left: 254px;
    width: 29px;
    height: 17px;
    background: url(../img/pfizer.svg) center center no-repeat;
}
#cta {
    top: 118px;
    left: 186px;
    width: 100px;
    height: 32px;
    font-size: 13px;
    border-radius: 1px;
    background: #ffffff;
    color: #8bc5b1;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
#click-area {
    width: 298px;
    height: 248px;
    background-color: rgba(0, 0, 0, 0);
}

#container {
    transform: translate(-50%, -50%);
    position: absolute;
    top: -114px;
    left: -175px;
    width: 670px;
    height: 599px;
    /* background: url('../img/words.png'), url('../img/intro.svg'); */
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    /* background-position: -289.51px -360.25px; */
    /* opacity: .2; */
    transform: scale(.63);
}
.words {
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url('../img/words.png');
    opacity: 0;
}

.intro {
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url('../img/intro.svg');
    background-size: 670px 599px;
    opacity: 0;
}

/* For Development */
/* #toCopy {
    opacity: 0;
}
input[type=number]{
    width: 40px;
} 
input[type=text]{
    width: 200px;
}
button:focus {
    background-color: darkorange;
}
.buttons {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
}
canvas {
    opacity: 1 !important;
    top: 0;
    left: 0;
}

#wrapper, #banner {
    width: 670px;
    height: 599px;
} */