@import "resets.css";

/* Main */

body {
    background-color: #ccc;
}
#wrapper {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#banner {
    width: 300px;
    height: 250px;
    overflow: hidden;
    perspective: 300px;
}
/* Frames */
#text11, #text12, #text2, #text3, #text4, #text5, #wall, #one, #woman, #blue{
    position: absolute;
    display: block;
    opacity: 0;
}
#blue{
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
    opacity: 1;
}
#wall{
    width: 300px;
    height: 173px;
    top: 0;
    left: 0;
}
#text11{
    background: url("../img/text11.png") center center no-repeat;
    width: 187px;
    height: 29px;
    top: 94px;
    left: 36px;
    opacity: 1;

}
#text12{
    background: url("../img/text12.png") center center no-repeat;
    width: 130px;
    height: 32px;
    top: 124px;
    left: 136px;
    opacity: 1;
}
#text2{
    background: url("../img/text2.png") center center no-repeat;
    width: 154px;
    height: 121px;
    top: 53px;
    left: 8px;

}
#text3{
    background: url("../img/text3.png") center center no-repeat;
    width: 127px;
    height: 117px;
    top: 31px;
    left: 166px;
}
#text4{
    background: url("../img/text4.png") center center no-repeat;
    width: 137px;
    height: 88px;
    top: 15px;
    left: 129px;
}
#text5{
    background: url("../img/text5.png") center center no-repeat;
    width: 120px;
    height: 100px;
    top: 7px;
    left: 138px;
}
#one{
    background: url("../img/one.png") center center no-repeat;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
}
#woman{
    background: url("../img/woman.png") center center no-repeat;
    width: 206px;
    height: 191px;
    top: 0px;
    left: 0px;
}
#logo-block{
    height: 37px;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    display: block;
    top: 250px;
}
.left-block{
    width: 61%;
    position: relative;
    float: left;
}
.right-block{
    width: 39%;
    position: relative;
    float: left;
}
.logo{
    max-width: 77%;
    margin: 6px 14px;
    vertical-align: middle;
}
.img-fluid{
    width: 100%;
    height: auto;
}
/* Click tag */
#click-area{
    /* background: url("img/click.jpg") center center no-repeat; */
}
/* ISI */
#scroll{
    position: absolute;
    top: 287px;
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    color: #000000;
    font-size: 10px;
    border-top: 1px solid #000000;
}
#scroll-title{
    height: 14px;
    margin: 0px 6px;
    padding-top: 4px;
    font-weight: 600;
}
#scroll-wrapper{
    overflow-y: scroll;
    width: 294px;
    height: 36px;
    margin: 0 2px;
}
#scroll-content{
    display: block;
    margin: 4px;
}
#scroll-content p{
    line-height: 13px;   
}
